#account-page{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: #d3d4d8;
}

#account-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-container h1{
    margin-top: 5em;
}

#main-container{
    position: relative;
    margin: 5rem;
    width: 55%;
    height: 72vh;
    border-radius: 1em;
    background-color: #fff;
    box-shadow: rgb(0 0 0/25%) 0px 5px 18px 6px;
    overflow-y: scroll;
    scrollbar-color: gray;
}

#coupon-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60rem;
    margin-bottom: 5em;
}

#coupon-container{
    margin-left: 3em;
    margin-right:3em;
}

#coupon-text-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/santarosa/beach-1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

#coupon-text-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/PompanoFeature1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    
}

#coupon-text-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/MyrtleFeature1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    color:#fff;
}



#mydetails-container{
    display: flex;
    flex-direction: column;
}

#account-page h2{
    padding:2em;
}

#account-page li{
    list-style-type: none;
    padding-left: 1em;
}

#image-box{
    max-width: 40%;
    height: auto;
}

#coupon-modal{
    position: fixed;
    top: 40%;
    left: 29%;
    z-index: 1;
    width: 40%;
    background: linear-gradient(#738eab, #3a639b);
}

#coupon-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#coupon-div{
    width: max-content;
}

@media (min-width:600px) {
    #side-container{
        margin-top: 2em;
    }

    #side-heading{
        font-size: xx-large;
    }
}

@media (min-width:795px) and (max-width:1075px) {
    #account-container{
        flex-direction: column;
    }

    #account-page h1{
        font-size: xx-large;
    }

    #side-container{
        margin-top: 2em;
    }

    #main-container{
        top:0;
        margin-right: 0;
        margin-left: 0;
        width: 90%;
    }
}

@media (min-width:320px) and (max-width:794px) {
    #side-container{
        margin-top: 2em;
    }

    #account-page h1{
        font-size: xx-large;
    }

    #main-container{
        top:0;
        margin: 2rem;
        width: 90%;
    }
    #coupon-container{
        margin-left: 1em;
        margin-right: 1em;
    }

    #coupon-text-1{
        background-size: 100% 90%;
    }

    #coupon-modal{
        left: 11%;
        width: 78%;
    }
}