body {
  font-family: poppins;
}

.appDiv {
  background: linear-gradient(#fff, #aabfdb);
}

#map-iframe{
    margin: 1em;
    border-radius: 1em;
    width: 100%;
}

@media (max-width:479px) {
  #map-iframe{
    height: 22em;
  }
}