#footerNav{
    display: none;
}

@media (max-width:1529px) {
#footerNav{
    display: flex;
    flex-wrap: nowrap;
    align-items: normal;
    justify-content: space-evenly;
    height: 4em;
    padding: 0;
}

#footerNav-btn{
    padding: 1em;
    align-items: center;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background: linear-gradient(50deg,#738eab, #3a639b);
    font-size: 1em;
}
}