.imageDiv {
  height: 40rem;
  width: 100%;
  background-image: url(../images/chairpic.png);
  background-repeat: no-repeat;
  background-size: 100% 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageDiv button {
  top: 100px;
}

.aboutUs {
  width: 100%;
  height: 40rem;
  background-color: brown;
}
