.navbarMain {
  display: flex;
  background: linear-gradient(#738eab, #3a639b);
}

.navbarMain img {
  width: 45vh;
  height: 12vh;
  margin-left: -15rem;
}

.navbarMain Nav.Link {
  margin: 5px
}


@media only screen and (max-width: 420px) {
  .navbar-toggler:focus {
    text-decoration: none;
    
 }

 .navbar-dark .navbar-toggler {
  width: 100%;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  text-align: center;
}
}

@media only screen and (max-width: 1630px) {
.navbarMain img {
  width: 45vh;
  height: 12vh;
  margin-left: 0%;
}
}