.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
  margin-top: 3vh;
}
.title {
  height: 40px;
  display: flex;
  flex-direction: row;
}
.title h1 {
  margin-top: 0;
}
.title Button {
  height: 40px;
  margin: 0;
  margin-left: 3vh;
}

.main {
  display: flex;
  max-width: 1500px;
  flex-direction: row;
}

.description {
  flex: 2;
}

.description h1 {
  margin-top: 10px;
}

.description p {
  line-height: 1.8;
  font-size: 20px;
  text-align: center;
}

.aminities {
  flex: 1;
}
.aminities h2 {
  margin-top: 10px;

}

#modal-btn-div-1{
  display: flex;
  flex-direction: column;
  height: 12em;
  justify-content: space-evenly;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#modal-btn-div-2{
  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: space-evenly;
  margin-left: 0 !important;
  margin-right: 0 !important;
}



#features-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 25rem;
  left: 96rem;
  width: 20rem;
  height: 11rem;
  border-radius: 1em;
  background:#fff;
  box-shadow: rgb(0 0 0/8%) 0px 5px 10px 5px;
}

#modal-btn{
  width: 100%;
  padding: .5rem;
  background: linear-gradient(50deg,#738eab, #3a639b);
  border: none;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

@media only screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 80px);
    max-width: calc(100vh - 80px);
    margin-top: 1vh;
  }
}
