.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
  margin-top: 3vh;
}
.title {
  height: 40px;
  display: flex;
  flex-direction: row;
}
.title h1 {
  margin-top: 0;
}
.title Button {
  height: 40px;
  margin: 0;
  margin-left: 3vh;
}

.main {
  display: flex;
  max-width: 1500px;
  margin: 2em;
  flex-direction: row;
}

.description {
  flex: 2 1;
  max-width: 60%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.description h1 {
  margin-top: 2rem;
}

.description p {
  line-height: 1.8;
  font-size: 1rem;
  text-align: justify;
}

.aminities {
  flex: 1;
}
.aminities h2 {
  margin-top: 10px;

}

#modal-btn-div-1{
  display: flex;
  flex-direction: column;
  height: 12em;
  justify-content: space-evenly;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-top: 1px solid #dee2e6;
}

#modal-header-div{
  padding-bottom: .5rem;
  width: 65%;
  justify-content: center;
}

#modal-heading{
  text-align: center;
}

#modal-footer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0;
  width: 100%;
}

#features-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 35%;
  width: 25rem;
  height: 22rem;
  border-radius: 1em;
  background:aliceblue;
  box-shadow: rgb(0 0 0/8%) 0px 5px 10px 5px;
}

#modal-btn{
  width: 100%;
  padding: .5rem;
  background: linear-gradient(50deg,#738eab, #3a639b);
  border: none;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

@media only screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    align-items: inherit;
  }


  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 80px);
    max-width: calc(100vh - 80px);
    margin-top: 1vh;
  }
}

@media (max-width:1000px){
  .description{
    max-width: 100%;
  }

  .description p{
    font-size: 1rem;
  }

  #features-modal{
    width: 20rem;
    height: 21rem;
  }
}

@media (max-width:800px) {
  #features-modal{
    display: none;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
  max-width: -webkit-fill-available;
  flex: none;
}

@media only screen and (min-width:1300px){

.image-gallery {
-webkit-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
position: relative;
width: min-content;
}

.title h1 {
  margin: auto;
  font-size: inherit;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1366px) 
and (orientation : landscape) {
  *, ::after, ::before {
    box-sizing: border-box;
    max-width: -webkit-fill-available;
    
  }
}