.BaseProperty-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.PropertyDiv{
    width: 100%;
}

.PropertyHeading{
    font-size: 15rem;
}
.Property1{
    margin-top: 400px;
}

.gallery{
    width: 100%;
}

.reviewImages{
    width: 100%;
    
    padding: 2rem;
}
.title{
    margin-top: 13rem;
    text-align: center;
    font-size: xx-large;
}
.clickForMore{
    text-align: center;
    margin-top: -2rem;
}